@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* ------------ Scrollbar design incase it shows in small screen ------------ */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

body::-webkit-scrollbar-thumb {
  @apply bg-zinc-900;
  @apply border-2 border-solid border-zinc-700;
  border-radius: 50px;
}
/* ------------------------------------ - ----------------------------------- */

@layer base {
  body {
    @apply container mx-auto min-h-screen bg-slate-900 py-5 px-4  text-base leading-relaxed text-text-color transition-colors duration-500 sm:px-0;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply text-xl font-bold sm:text-3xl;
  }
  button.btn {
    @apply rounded-md border-2  px-10 py-4 font-bold tracking-widest text-primary transition-colors duration-200 hover:border-primary hover:text-white disabled:cursor-not-allowed disabled:hover:border-red-400;
  }
}
